<% if(teams[0]=='Kolkata Knight Riders') {%>
    <div
        style="background-color: rgba(53, 5, 63, 0.877);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/KKR-CR1-ipl@2x.png"
            style="height: 70px; width: 70px;">
    </div> 
<%} else if(teams[0]=='Kochi Tuskers Kerala'){ %>
    <div style="background-color:grey;border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/KKR-CR1-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div> 
<% } else if(teams[0]  =='Royal Challengers Bangalore'){%>
    <div style="background-color:rgb(128, 0, 0);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/BRC-CR3-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div>  
<%} else if(teams[0]  =='Kings XI Punjab'){%>
    <div style="background-color:rgb(240, 132, 9);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/PBKS-CR1-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div>  
<%}else if(teams[0]  =='Chennai Super Kings'){%>
    <div style="background-color:rgb(236, 240, 9);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/CSK-CR3-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div>  
<%}else if(teams[0] =='Rajasthan Royals'){ %>
    <div style="background-color:white;border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://static.toiimg.com/thumb/msid-74925704,width-1200,height-900,resizemode-4/.jpg"  style="height: 70px; width: 70px;">
    </div>
<%}else if(teams[0] =='Deccan Chargers'){ %>
    <div style="background-color:white;border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/SRH-CR3-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div>
<%}else if(teams[0] =='Delhi Daredevils'){ %>
    <div style="background-color:blue;border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/DC-CR3-ipl@2x.png"  style="height: 70px; width: 70px;">
    </div>
<%}else if(teams[0] =='Mumbai Indians'){ %>
    <div style="background-color:rgb(243, 243, 243);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://icon2.cleanpng.com/20180515/koq/kisspng-mumbai-indians-2018-indian-premier-league-kolkata-5afb4a1d479156.0905197715264179492932.jpg"  style="height: 70px; width: 70px;">
    </div>
<%}else if(teams[0]=='Pune Warriors' ){ %>
    <div style="background-color:rgb(243, 243, 243);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4a/Pune_Warriors_India_IPL_Logo.png" style="height: 70px; width: 70px;">
    </div>
<%}%>
