<%- include("../partials/header") %>

<div class="row">
    <!-- <div class="col-xl-6">
         
      </div> -->
    <div class="col-xl-12">
        <div style="margin-top: 100px;">
            <div class=" w-100" style="padding: 15px;width: 500px;background-color: rgb(248, 238, 240);">
                <!-- <h3 ><b>On going Matches</b></h3> -->
                <div class="row">
                    <div class="col-xl-4" align="left">
                        <!-- <div
                            style="background-color: rgb(238, 238, 12);border-top-right-radius: 25px;border-bottom-right-radius: 25px">
                            <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/CSK-CR3-ipl@2x.png"
                                style="height: 100px; width: 100px;">
                        </div>
                        <h3 style="font-size: small;margin-left: auto;margin-right: auto;color: black;"><b>CSK</b> </h3> -->
                    </div>
                    <div class="col-xl-4" align="center">
                        <p style="color: black;font-size: x-large;"><b>Current ongoing match</b></p>
                        <a href="/fantasy-match/<%= matchId %>" class="btn btn-info">Enter match</a>
                        <img src="https://pngimg.com/uploads/cricket/cricket_PNG106.png" style=" width: 100%">
                    </div>
                    <div class="col-xl-4" align="right">
                        <!-- <div
                            style="background-color: rgb(128, 0, 0);border-top-left-radius: 25px;border-bottom-left-radius: 25px">
                            <img src="https://d13ir53smqqeyp.cloudfront.net/flags/cr-flags/BRC-CR3-ipl@2x.png"
                                style="height: 100px; width: 100px;">
                        </div>
                        <h4 style="font-size: small;margin-left: auto;margin-right: auto;color:black"><b>RCB</b> </h4> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
